export VAULT_REPL_IP="10.10.10.10"
export VAULT_IP="192.168.1.67"
export VAULT_DD_NAME="vault-ddve.demo.local"
export SOURCE_DD_PORT="10.10.10.12"
export SOURCE_CONNECTION_HOST=ddve-02_ethv2
export SOURCE_DD_NAME=ddve-02.demo.local
export VAULT_CONNECTION_HOST=vault-ddve-ethv2
export SSH_EXEC=sysadmin@${VAULT_DD_NAME}
