export EDITOR=nano
export PPDM_FQDN=ppdm-1.demo.local
export PPDM_INITIAL_PASSWORD='Password123!'
export DDVE_PRIVATE_FQDN=ddve-01.demo.local
export GOVC_INSECURE=1
export GOVC_URL=https://vcenter01.demo.local
export GOVC_USERNAME=admin@vsphere.local
export GOVC_PASSWORD='Password123!'
echo "testing connection to ${GOVC_URL}"
govc about
export ANSIBLE_JINJA2_NATIVE=True
export VMWARE_HOST=vcenter01.demo.local
export VMWARE_PASSWORD='Password123!'
export VMWARE_VALIDATE_CERTS=false
export VMWARE_USER=admin@vsphere.local
export S3_BUCKET=artifacts
export S3_HOST=nas.demo.local
export S3_ACCESS_KEY=bob
export S3_SECRET_KEY='Password123!'
export S3_CONTAINER=ppdm
