export EDITOR=nano
export KUBECONFIG=~/workspace/openshift/auth/kubeconfig
export K8S_FQDN=api.openshift.demo.local
export PPDM_FQDN=ppdm-1.demo.local
export PPDM_INITIAL_PASSWORD='Password123!'
export DDVE_PRIVATE_FQDN=ddve-01.demo.local
export ANSIBLE_JINJA2_NATIVE=True
export VMWARE_HOST=vcenter01.demo.local
export VMWARE_PASSWORD='Password123!'
export VMWARE_VALIDATE_CERTS=false
export VMWARE_USER=admin@vsphere.local
echo "Exporting AWX Environment"
export TOWER_VERIFY_SSL=false
export TOWER_HOST=https://awx-prod-awx-operator.apps.openshift.demo.local
export TOWER_USER=admin    
export TOWER_PASSWORD=$(oc get secret/awx-prod-admin-password -n awx-operator -o jsonpath={.data.password} | base64 -d)
export CONTROLLER_VERIFY_SSL=false
export CONTROLLER_HOST=https://awx-prod-awx-operator.apps.openshift.demo.local
export CONTROLLER_USER=admin    
export CONTROLLER_PASSWORD=$(oc get secret/awx-prod-admin-password -n awx-operator -o jsonpath={.data.password} | base64 -d)
