export VAULT_REPL_IP="10.10.10.10"
export VAULT_IP="192.168.1.67"
export VAULT_DD_NAME="vault-ddve.demo.local"
export SOURCE_REPL_IP="10.10.10.11"
export SOURCE_CONNECTION_HOST=ddve-01_ethv2
export SOURCE_DD_NAME=ddve-01.demo.local
export VAULT_CONNECTION_HOST=vault-ddve-ethv2
export SSH_EXEC=sysadmin@${SOURCE_DD_NAME}
