export EDITOR=nano
export KUBECONFIG=~/workspace/openshift/auth/kubeconfig
export PPDM_FQDN=ppdm-1.demo.local
export PPDM_INITIAL_PASSWORD='Password123!'
export PPDM_POLICY=PPDM_GOLD
export DDVE_PRIVATE_FQDN=ddve-01.demo.local
export K8S_FQDN=api.openshift.demo.local
export GOVC_INSECURE=1
export GOVC_URL=https://vcenter01.demo.local
export GOVC_USERNAME=admin@vsphere.local
export GOVC_PASSWORD='Password123!'
echo "testing connection to ${GOVC_URL}"
govc about
